/*#map {*/
/*    height: 100%;*/
/*}*/
/*#action_native {*/
/*    height: 100%;*/
/*}*/
#content{
    height: 100%;
    width: 100%;
}
.block_input {
    margin-top: 30px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
